In [79]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [80]:
#Here we are importing a data from big_mart_sales and will be predicting the sales 
train= pd.read_csv(r"C:\Users\ROOPAL\Downloads\big-mart-sales-prediction\Train.csv")
test= pd.read_csv(r"C:\Users\ROOPAL\Downloads\big-mart-sales-prediction\Test.csv")

In [81]:
train.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [82]:
#we avoid the null values during regression we have 2 columns having null values
train.Item_Weight.interpolate(inplace=True)

In [83]:
train.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

In [84]:
#as it is visible we don't have null values but we do have zeros in column ,Item_visibility ,therefore we should replace these
#values to avoid outliers
train['Item_Visibility']=train['Item_Visibility'].replace(0,np.mean(train["Item_Visibility"]),inplace=True)

In [85]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,None,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,None,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,None,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,None,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,None,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [86]:
train['Outlet_Establishment_Year'] = 2013 - train['Outlet_Establishment_Year']
#just to give the idea how old the outlet is because the output depends on the features : the location, the duration of establishment,the MRP ,outlet size

In [87]:
train.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,None,Dairy,249.8092,OUT049,14,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,None,Soft Drinks,48.2692,OUT018,4,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,None,Meat,141.6180,OUT049,14,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,None,Fruits and Vegetables,182.0950,OUT010,15,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,None,Household,53.8614,OUT013,26,High,Tier 3,Supermarket Type1,994.7052

In [88]:
train['Outlet_Size'].fillna('Small',inplace=True)

In [89]:
mylist = list(train.select_dtypes(include=['object']).columns)

In [90]:
#for the values that have the categorical data and converting them to numeric data using dummy function
mylist

['Item_Identifier',
 'Item_Fat_Content',
 'Item_Visibility',
 'Item_Type',
 'Outlet_Identifier',
 'Outlet_Size',
 'Outlet_Location_Type',
 'Outlet_Type']

In [91]:
#conversion of categorical data to dummy values
dummies = pd.get_dummies(train[mylist], prefix= mylist)

In [92]:
#this data framem contains all the values having datatype as object

train[mylist]

,Item_Identifier,Item_Fat_Content,Item_Visibility,Item_Type,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDA15,Low Fat,None,Dairy,OUT049,Medium,Tier 1,Supermarket Type1
1,DRC01,Regular,None,Soft Drinks,OUT018,Medium,Tier 3,Supermarket Type2
2,FDN15,Low Fat,None,Meat,OUT049,Medium,Tier 1,Supermarket Type1
3,FDX07,Regular,None,Fruits and Vegetables,OUT010,Small,Tier 3,Grocery Store
4,NCD19,Low Fat,None,Household,OUT013,High,Tier 3,Supermarket Type1
5,FDP36,Regular,None,Baking Goods,OUT018,Medium,Tier 3,Supermarket Type2
6,FDO10,Regular,None,Snack Foods,OUT013,High,Tier 3,Supermarket Type1
7,FDP10,Low Fat,None,Snack Foods,OUT027,Medium,Tier 3,Supermarket Type3
8,FDH17,Regular,None,Frozen Foods,OUT045,Small,Tier 2,Supermarket Type1
9,FDU28,Regular,None,Frozen Foods,OUT017,Small,Tier 2,Supermarket Type1
10,FDY07,Low Fat,None,Fruits and Vegetables,OUT049,Medium,Tier 1,Supermarket Type1
11,FDA03,Regular,None,Dairy,OUT046,Small,Tier 1,Supermarket Type1
12,FDX32,Regular,None,Fruits and Vegetables,OUT049,Medium,Tier 1,Supermarket Type1
13,FDS46,Regular,None,Snack Foods,OUT046,Small,Tier 1,Supermarket Type1
14,FDF32,Low Fat,None,Fruits and Vegetables,OUT013,High,Tier 3,Supermarket Type1
15,FDP49,Regular,None,Breakfast,OUT046,Small,Tier 1,Supermarket Type1
16,NCB42,Low Fat,None,Health and Hygiene,OUT018,Medium,Tier 3,Supermarket Type2
17,FDP49,Regular,None,Breakfast,OUT049,Medium,Tier 1,Supermarket Type1
18,DRI11,Low Fat,None,Hard Drinks,OUT027,Medium,Tier 3,Supermarket Type3
19,FDU02,Low Fat,None,Dairy,OUT035,Small,Tier 2,Supermarket Type1
20,FDN22,Regular,None,Snack Foods,OUT013,High,Tier 3,Supermarket Type1
21,FDW12,Regular,None,Baking Goods,OUT027,Medium,Tier 3,Supermarket Type3
22,NCB30,Low Fat,None,Household,OUT035,Small,Tier 2,Supermarket Type1
23,FDC37,Low Fat,None,Baking Goods,OUT019,Small,Tier 1,Grocery Store
24,FDR28,Regular,None,Frozen Foods,OUT046,Small,Tier 1,Supermarket Type1
25,NCD06,Low Fat,None,Household,OUT017,Small,Tier 2,Supermarket Type1
26,FDV10,Regular,None,Snack Foods,OUT035,Small,Tier 2,Supermarket Type1
27,DRJ59,low fat,None,Hard Drinks,OUT013,High,Tier 3,Supermarket Type1
28,FDE51,Regular,None,Dairy,OUT010,Small,Tier 3,Grocery Store
29,FDC14,Regular,None,Canned,OUT019,Small,Tier 1,Grocery Store
...,...,...,...,...,...,...,...,...
8493,FDP21,Regular,None,Snack Foods,OUT017,Small,Tier 2,Supermarket Type1
8494,NCI54,Low Fat,None,Household,OUT017,Small,Tier 2,Supermarket Type1
8495,FDE22,Low Fat,None,Snack Foods,OUT035,Small,Tier 2,Supermarket Type1
8496,FDJ57,Regular,None,Seafood,OUT017,Small,Tier 2,Supermarket Type1
8497,FDT08,Low Fat,None,Fruits and Vegetables,OUT035,Small,Tier 2,Supermarket Type1
8498,NCP54,Low Fat,None,Household,OUT018,Medium,Tier 3,Supermarket Type2
8499,NCK53,Low Fat,None,Health and Hygiene,OUT035,Small,Tier 2,Supermarket Type1
8500,NCQ42,Low Fat,None,Household,OUT017,Small,Tier 2,Supermarket Type1
8501,FDW21,Regular,None,Snack Foods,OUT017,Small,Tier 2,Supermarket Type1
8502,NCH43,Low Fat,None,Household,OUT045,Small,Tier 2,Supermarket Type1
8503,FDQ44,Low Fat,None,Fruits and Vegetables,OUT035,Small,Tier 2,Supermarket Type1
8504,NCN18,Low Fat,None,Household,OUT027,Medium,Tier 3,Supermarket Type3
8505,FDB46,Regular,None,Snack Foods,OUT018,Medium,Tier 3,Supermarket Type2
8506,DRF37,Low Fat,None,Soft Drinks,OUT018,Medium,Tier 3,Supermarket Type2
8507,FDN28,Regular,None,Frozen Foods,OUT035,Small,Tier 2,Supermarket Type1
8508,FDW31,Regular,None,Fruits and Vegetables,OUT045,Small,Tier 2,Supermarket Type1
8509,FDG45,Low Fat,None,Fruits and Vegetables,OUT010,Small,Tier 3,Grocery Store
8510,FDN58,Regular,None,Snack Foods,OUT035,Small,Tier 2,Supermarket Type1
8511,FDF05,Low Fat,None,Frozen Foods,OUT018,Medium,Tier 3,Supermarket Type2
8512,FDR26,Low Fat,None,Dairy,OUT013,High,Tier 3,Supermarket Type1
8513,FDH31,Regular,None,Meat,OUT035,Small,Tier 2,Supermarket Type1
8514,FDA01,Regular,None,Canned,OUT045,Small,Tier 2,Supermarket Type1
8515,FDH24,Low Fat,None,Baking Goods,OUT018,Medium,Tier 3,Supermarket Type2
8516,NCJ19,Low Fat,None,Others,OUT018,Medium,Tier 3,Supermarket Type2
8517,FDF53,reg,None,Frozen Foods,OUT046,Small,Tier 1,Supermarket Type1
8518,FDF22,Low Fat,None,Snack Foods,OUT013,High,Tier 3,Supermarket Type1
8519,FDS36,Regular,None,Baking Goods,OUT045,Small,Tier 2,Supermarket Type1
8520,NCJ29,Low Fat,None,Health and Hygiene,OUT035,Small,Tier 2,Supermarket Type1
8521,FDN46,Regular,None,Snack Foods,OUT018,Medium,Tier 3,Supermarket Type2
8522,DRG01,Low Fat,None,Soft Drinks,OUT046,Small,Tier 1,Supermarket Type1

In [93]:
dummies.head()

,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,Item_Identifier_DRB13,Item_Identifier_DRB24,Item_Identifier_DRB25,Item_Identifier_DRB48,Item_Identifier_DRC01,Item_Identifier_DRC12,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,1,0,...,0,1,0,0,0,1,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0

In [94]:
train.head()
#this data still contains categorical values so to change them we have to drop these values and add categorical values

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,None,Dairy,249.8092,OUT049,14,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,None,Soft Drinks,48.2692,OUT018,4,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,None,Meat,141.6180,OUT049,14,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,None,Fruits and Vegetables,182.0950,OUT010,15,Small,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,None,Household,53.8614,OUT013,26,High,Tier 3,Supermarket Type1,994.7052

In [95]:
train.drop(mylist,axis=1,inplace=True)

In [96]:
train.head()

   Item_Weight  Item_MRP  Outlet_Establishment_Year  Item_Outlet_Sales
0         9.30  249.8092                         14          3735.1380
1         5.92   48.2692                          4           443.4228
2        17.50  141.6180                         14          2097.2700
3        19.20  182.0950                         15           732.3800
4         8.93   53.8614                         26           994.7052

In [97]:
#to add the values back in numerical form we have concat variable
X = pd.concat([train,dummies], axis =1 )

In [98]:
X.head()

,Item_Weight,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales,Item_Identifier_DRA12,Item_Identifier_DRA24,Item_Identifier_DRA59,Item_Identifier_DRB01,Item_Identifier_DRB13,Item_Identifier_DRB24,...,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,9.30,249.8092,14,3735.1380,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
1,5.92,48.2692,4,443.4228,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,1,0
2,17.50,141.6180,14,2097.2700,0,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,0
3,19.20,182.0950,15,732.3800,0,0,0,0,0,0,...,0,0,1,0,0,1,1,0,0,0
4,8.93,53.8614,26,994.7052,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0

In [99]:
X.columns

Index(['Item_Weight', 'Item_MRP', 'Outlet_Establishment_Year',
       'Item_Outlet_Sales', 'Item_Identifier_DRA12', 'Item_Identifier_DRA24',
       'Item_Identifier_DRA59', 'Item_Identifier_DRB01',
       'Item_Identifier_DRB13', 'Item_Identifier_DRB24',
       ...
       'Outlet_Size_High', 'Outlet_Size_Medium', 'Outlet_Size_Small',
       'Outlet_Location_Type_Tier 1', 'Outlet_Location_Type_Tier 2',
       'Outlet_Location_Type_Tier 3', 'Outlet_Type_Grocery Store',
       'Outlet_Type_Supermarket Type1', 'Outlet_Type_Supermarket Type2',
       'Outlet_Type_Supermarket Type3'],
      dtype='object', length=1604)

In [100]:
#now to avoid overfitting of the data we crossvalidate the X using scikit

In [101]:
from sklearn.linear_model import LinearRegression

In [102]:
reg=LinearRegression()

In [103]:
X=train.drop("Item_Outlet_Sales",1)

In [104]:
X_train,X_cv,y_train,y_cv=train_test_split(X,train.Item_Outlet_Sales,test_size=0.3)

In [105]:
reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [108]:
X.head()

   Item_Weight  Item_MRP  Outlet_Establishment_Year
0         9.30  249.8092                         14
1         5.92   48.2692                          4
2        17.50  141.6180                         14
3        19.20  182.0950                         15
4         8.93   53.8614                         26

In [109]:
reg.coef_

array([ 0.43353915, 15.75558422, 11.375247  ])

In [115]:
pred_cv=reg.predict(X_cv)

In [111]:
cv_pred=reg.predict([[9,1000,20]])

In [112]:
cv_pred

array([15779.000692])

In [117]:
#now we shall calculate the mean square error,predicted values - actual values
mse = np.mean((pred_cv - y_cv)**2)

In [118]:
mse

2010111.7996719044

In [126]:
#checking the accuracy by using r square mean method
reg.score(X_cv,y_cv)

0.30621438696501546