In [1]:
# In this notebook we'll see how data preprocessing step on missing values can be Implemented

In [20]:
#importing the essential libraries
import pandas as pd
import numpy as np
import sklearn

In [21]:
# Now Read the csv file

In [22]:
data = pd.read_csv('Data.csv')

In [23]:
#head function will display the top 5 rows in the Data Set
data.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [24]:
#tail function will display the last 5 rows in the Dataset
data.tail()

   Country   Age   Salary Purchased
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [25]:
#displaying the whole Dataset
data

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [26]:
#differentiating between dependent and independent feature
'''
In the above Dataset we have 3 independent feature i.e. Contry , Age , Salary and one dependent feature i.e. Purchased
so we are taking independent features in a Variable called X and dependent feature in Y
'''
#This line below means that we are taking all the rows and cloumns except the last column
X = data.iloc[:,:-1].values

In [27]:
#printing the value X
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [28]:
#In this data__set there is some unknown values like NaN(we should be handle it, before using the data set)

In [29]:
#taking the dependent values in a variable named Y
#the code given below tells us that we have to take all the rows of column last one
Y = data.iloc[:,3].values

In [30]:
#printing Y
Y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

In [31]:
#importing sklearn for data preprocessing
from sklearn.preprocessing import Imputer

In [32]:
#On what bases we fill the missing values 
imputer = Imputer(missing_values='NaN',strategy='mean')

/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [33]:
#lower bound is included and upper bound is excluded
imputer.fit(X[:,1:3])

Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0)

In [34]:
X[:,1:3] = imputer.transform(X[:,1:3])

In [35]:
# Changes on NaN (Unknown/missing values)

In [36]:
#Now change is going to reflected on some missing values
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [37]:
#SO here we handle all possible missing values before traing our Model ; 
#So there is no harm when we learn our Model using this data_set